extends layout

block content
	div.wrap
		div.col-md-1 aaaaaaa
		div.col-md-1 aaaaaaa
		div.col-md-1 aaaaaaa
		div.col-md-1 aaaaaaa
		div.col-md-1 aaaaaaa
		div.col-md-1 aaaaaaa
		div.col-md-1 aaaaaaa
		div.col-md-1 aaaaaaa
		div.col-md-1 aaaaaaa
		div.col-md-1 aaaaaaa
		div.col-md-1 aaaaaaa
		div.col-md-1 aaaaaaa
	div.wrap
		div.col-md-8 bbbbbbb
		div.col-md-4 bbbbbbb
	div.wrap
		div.col-md-4 ccccccc
		div.col-md-4 ccccccc
		div.col-md-4 ccccccc