body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
*{
    margin: 0;
    padding: 0;
}
.col-md-1{
    background: blue;
}
.col-md-8{
    background: pink;
}
.col-md-4{
    background: red;
}